/* Main color palette */
:root {
  --primary-color: #3e2723;
  --secondary-color: #dd6a41;
  --accent-color: #ffdab9;
}

.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}
.accent {
  color: var(--accent-color);
}
.primary-background {
  background-color: var(--primary-color);
  z-index: 0;
}
.secondary-background {
  background-color: var(--secondary-color);
}
.accent-background {
  background-color: var(--accent-color);
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Global CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--secondary-color);
  background: var(--primary-color);
  font-family: "Work_Sans";
  width: 100vw!important;
  overflow-x: hidden;
}

h1 {
  font-size: clamp(1rem, 1rem + 5vw, 2.5rem);

}

.logo {
  left: 90%;
}

@media

header {
  max-width: 100%;
}

section {
  overflow: hidden;
  min-height: 100%;
  margin: 0%;
  padding: 2rem 1rem;
  min-width: 100%;
}

.scrollable {
}

.animation {
  transition: all 0.2s ease-in-out;
}
.animation:hover {
  transform: scale(1.2);
}

/* Home page - landing section */

main {
  display: flex;
  flex-direction: column;
}

.landing-content {
  padding: 2rem;
}
/* Home page - skills section */
.skill-shape {
  box-shadow: #7e5835 1rem 1rem;
  border-radius: 1rem;

}
.skills {
  justify-content: space-between;
}
/* Home page -  about section*/
.aboutme-shape {
  box-shadow: #7e5835 15px 15px;
  border-radius: 25px;
  padding: 1rem;
}
.column {
  min-width: 30%;
  padding: 1rem;
  display: inline-block;
}

.column-right {
  float: right;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.author-image {
  display: inline;
}
.aboutme-content {
  scroll-snap-align: start;
  max-width: 90vw;
  margin: 2% 2%;
  display: inline;
  flex-direction: column;
}

.column h1 {
  max-width: 100%;
}

/* Home page -  project section*/
.project-shape {
  box-shadow: #7e5835 10px 10px;
  border-radius: 1rem;
  max-width: 25vw;
  min-height: 25vh;
}

/* Home page -  contact section*/
/* Home page - Projects */
/* About page - full about me section */
/* About page - Testimonials section */
/* About page - Resume section*/
/* Projects page */

/* Components - Hamburger Menu */
/* Components - Project Cards */

.project-card {
  margin-left: 2rem;
  /* overflow-y: auto; */
}
/* Components - Skills blocks */

.items {
  margin: 0 auto;
}



.aboutme-content {
  max-width: 60vw;
  margin-top: 15vh;
}

.about-button {
  margin-left: 40%;
}


.title {
  font-size: 4em;
  margin-top: 4rem;
  font-size: clamp(4rem, 1rem + 5vw, 6rem);

}

img {
  max-width: 100%;
  display: block;
}

@media screen and (max-width: 40rem) {
  body {
    overflow-y: none;
  }

  .logo {
    left: 55%;
  }

  .aboutme-content {
    max-width: 90vw;
    margin-top: 1vh;
    margin-left: auto;
  }
  .about-section {
    flex-direction: column;
  }
  .project-card {
    margin: 1% 1%;
    min-width: 50vw;
    max-width: 90%;
    min-height: 25vh;
    overflow-y: scroll;
  }

  .project-content {
    font-size: clamp(1rem, 2vw + 2vw, 2rem)
  }

  .project-section {
    display: flex;
    flex-direction: column;
  }
  


  .skill-card {
    flex-direction: column;
    max-width: 90vw;
  }

}


section.accent-background {
  width: 100vw;
}
.bottom-links {
  padding: 1%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.spinning {
  opacity: 0;
  left: 10%;
  margin-bottom: 0;
  /* right: 0; */

}

.spinning:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
}

.spinning:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 1.75s;
}


.spinning:nth-of-type(3) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 3.25s;
}

.spinning:nth-of-type(4) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 4.75s;
}


.spinning:nth-of-type(5) {
  animation-name: rotate-last;
  animation-duration: 1.5s;
  animation-delay: 7s;
  animation-fill-mode: forwards;
} 

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  
  20%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  
  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}

@keyframes rotate-last {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
  
   100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}